@media(max-width: 1100px){
    main .blockContent{
        flex-direction: column;
    }
    main .blockContent h3, main .blockContent span, main .blockContent p{
        width: 100%;
        padding: 1vh 0px;
    }
}
