/**/
::-webkit-scrollbar {
    width: 0px;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

input {
    outline: none;
    background: transparent;
    border: none;
}

button {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

body.menuOpened #mainMenu {
    height: 100vh !important;
}

#mainMenu {
    width: 100vw;
    height: 0vh;
    box-sizing: border-box;
    background: #212121;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    overflow: hidden;
    transition: ease 1s;
    z-index: 5;
}

#mainMenu #mainMenuContent {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 32px;
    margin-top: 160px;
}

#mainMenu #mainMenuContent nav {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#mainMenu #mainMenuContent nav li {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

#mainMenu #mainMenuContent nav a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

#mainMenu #mainMenuContent #mainMenuImageContainer {
    width: 580px;
    height: 580px;
    position: relative;
}

#mainMenu #mainMenuContent #mainMenuImageContainer img {
    opacity: 0;
    transition: ease 0.4s;
    position: absolute;
    top: 0;
    left: 0;
}

#mainMenu #mainMenuContent li img {
    width: 24px;
    filter: brightness(100);
    margin-right: 10px;
    aspect-ratio: 1;
}
/* 
#mainMenu .homeIcon {
    width: 24px;
    filter: brightness(100);
    margin-right: 10px;
}

#mainMenu .servicesIcon {
    width: 24px;
    filter: brightness(100);
    margin-right: 10px;
}

#mainMenu .portfolioIcon {
    width: 30px;
    filter: brightness(100);
    margin-right: 10px;
}

#mainMenu .teamIcon {
    width: 24px;
    filter: brightness(100);
    margin-right: 10px;
} */

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.headerMenu {
    width: 100%;
    max-width: 1200px;
    height: 120px;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #79716D;
}

body.pastTitleScreen .headerMenu,
body.darkHeader .headerMenu {
    filter: invert(1);
}

body.menuOpened .headerMenu {
    filter: invert(0) !important;
}

.headerMenu #menuToggle {
    width: 36px;
    height: 36px;
    background-image: url(../images/svg/menu2.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    filter: brightness(100);
}

body#mainMenuContentOpened .headerMenu #menuToggle {
    background-image: url(../images/svg/close.svg);
    background-size: 20px;
}

.headerMenu #logo {
    flex-grow: 1;
    height: 72px;
}

main {
    width: 100vw;
    height: auto;
    background: #FFFFFF;
    z-index: 3;
}

main h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0.005em;
    color: #4A4A49;
}

main h2 span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: 0.005em;
    color: #B89535;
}

main h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 440;
    font-size: 24px;
    line-height: 24px;
    color: #484848;
    margin-top: 30px;
    /*margin-left: 28px;*/
}

main p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    color: #4A4A49;
}

main > div {
    width: 100vw;
    padding: 10vh 10vw;
}
main .title {
    background: url(../images/fon.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .title h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 62px;
    line-height: 76px;
    color: #FFFFFF;
    margin-top: 212px;
}

main .latestProjects{
    display: flex;
    flex-direction: column;
}
main .latestProjects .textContent{
    width: 676px;
    height: 246px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .latestProjects .projectItems{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 50px;
}
main .latestProjects .projectItems .projectItem{
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 14px;
}
main .latestProjects .projectItems .projectItem h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #484848;
    margin: 5px 0px 0px 0px;
    padding: 0px 28px;
}
main .latestProjects .projectItems .projectItem p{
    padding: 0px 28px;
    font-size: 16px;
}
main .latestProjects .learnMoreButtonContainer{
    height: 60px;
    display: flex;
    justify-content: right;
    margin-top: 95px;
}
main .latestProjects .learnMoreButton{
    height: 60px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}
main .latestProjects .learnMoreButton .learnMoreButtonIcon{
    width: 60px;
    height: 60px;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    background: url(../images/svg/arrowDown.svg) 21px center no-repeat;
}
main .latestProjects .learnMoreButton p{
    width: 88px;
}
main .services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6A6868;
    padding-bottom: 425px;
}
main .services h2, main .services p{
    color: #FFFFFF;
}
main .services .textContent{
    width: 56%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
main .services .textContent .learnMoreButton{
    width: 262px;
    height: 75px;
    border: 1px solid #FFFFFF;
    margin-top: 22px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: end;
}
main .services .textContent .learnMoreButton p{
    font-size: 16px;
    width: 130px;
    text-align: center;
}
main .services .textContent .learnMoreButton .learnMoreButtonIcon{
    width: 20px;
    height: 15px;
    background: url(../images/svg/arrowRight.svg) center no-repeat;
}
main .aboutStudio{
    height: 710px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../images/index/fonStudio.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -300px;
    padding-top: 260px;
}
main .aboutStudio .textContent{
    width: 46%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
main .aboutStudio .textContent .learnMoreButton{
    width: 262px;
    height: 75px;
    border: 1px solid #7B736F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: end;
}
main .aboutStudio .textContent .learnMoreButton p{
    font-size: 16px;
    width: 130px;
    text-align: center;
}
main .aboutStudio .textContent .learnMoreButton .learnMoreButtonIcon{
    width: 22px;
    height: 20px;
    background: url(../images/svg/arrowRightBrown.svg) center no-repeat;
}
main .We{
    background: #E1E1E1;
}
main .We mainItem{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: space-between;
    margin-top: 57px;
}
main .We mainItem h3{
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0.005em;
    font-style: normal;
    color: #4A4A49;
}
main .We mainItem .right{
    align-self: end;
}
main .We mainItem .textContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
main .We mainItem .textContent .text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 22px;
}

footer {
    width: 100vw;
    height: 360px;
    background: #222;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 32px;
}

footer .footerContent {
    display: grid;
    grid-template-areas: "top top" "left right";
    font-family: 'Montserrat';
    width: 100%;
    max-width: 1200px;
}

.footerLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    grid-area: top;
}

.footerLinks a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
}

.footerLinks a:hover {
    color: #fc3;
}

.footerLinks a:visited {
    color: #baf;
}

.footerContacts {
    border-bottom: 1px solid #333;
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footerContacts .contact-with-us {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.footerContacts .number {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A3A3A3;
}

.footerContacts .for-orders {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fc3;
}

.footerContacts .for-other {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fc3;
}

.footerSocial {
    border-bottom: 1px solid #333;
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footerSocial a {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #333;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerSocial img {
    width: 24px;
    height: 24px;
}




main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.portfolioItemList .portfolioItem:nth-child(2n) .portfolioItemOpinionContainer {
    grid-template-areas: "left-top right" "left-bottom right";
    grid-template-columns: auto 80px;
    grid-template-rows: 1fr auto;
}
.portfolioItem:nth-child(2n) .portfolioItemRightContainer h1, .portfolioItem:nth-child(2n) .portfolioItemRightContainer h3{
    grid-area: left-top;
    text-align: right;
}
.portfolioItem:nth-child(2n) .portfolioItemRightContainer p{
    grid-area: left-bottom;
    text-align: right;
}
.portfolioItem:nth-child(2n) .portfolioItemOpinionContainer .opinionImage{
    grid-area: right;
}
.portfolioItem {
    height: auto;
    width: 100%;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 5%;
}

.portfolioItem .portfolioItemImage {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1;
    min-width: 250px;
}

.portfolioItem .portfolioItemImage .learnMoreButton{
    width: 185px;
    height: 55px;
    position: absolute;
    border: 1px solid #584e43;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    right: 6px;
    bottom: 6px;
    z-index: 2;
    user-select: none;
    backdrop-filter: blur(16px);
}
.portfolioItem .portfolioItemImage .learnMoreButton p{
    font-size: 16px;
    width: 130px;
    text-align: center;
    color: #FFFFFF;
}
.portfolioItem .portfolioItemImage .learnMoreButtonIcon{
    width: 20px;
    height: 15px;
    background: url(../images/svg/arrowRight.svg) center no-repeat;
}
.portfolioItem .portfolioItemRightContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    gap: 16px;
}

.portfolioItem h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #743d3d;
}

.portfolioItem .portfolioItemDescription {
    font-size: 1.25em;
    flex-grow: 1;
}

.portfolioItem .portfolioItemOpinionContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 80px auto;
    grid-template-areas: "left right-top" "left right-bottom";
    gap: 16px;
}

.opinionImage {
    aspect-ratio: 1;
    width: 80px;
    border-radius: 50%;
    grid-area: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-self: center;
    align-self: center;
}

.opinionImage img {
    max-height: 100%;
    max-width: 100%;
}

.opinionName {
    grid-area: right-top;
    font-size: 1.4em;
}

.opinionText {
    grid-area: right-bottom;
    font-size: 1.15em;
}

.portfolioItem .portfolioItemDetailsButton {
    width: 233px;
    height: 64px;
    border: 1px solid #7B736F;
}


main .We {
    background: #E1E1E1;
}
main .We .ContentItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: space-between;
    margin-top: 57px;
}
main .We .ContentItem h3 {
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 136%;
    letter-spacing: 0.005em;
    font-style: normal;
    color: #4A4A49;
}
main .We .ContentItem .textContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
main .We .ContentItem .textContent .text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 22px;
}

main .We .ContentItem:nth-child(2n) .textContent {
    flex-direction: row-reverse;
}

main .headings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    margin-top: 90px;
}
main .headings h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 128%;
    letter-spacing: 0.005em;
    color: #4A4A49;
}
main .headings h2{
    font-size: 32px;
}
main .headings h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.005em;
}
main .map{
    height: 66vh;
    padding: 0vh 10vw;
}
main .map iframe{
    width: 100%;
    height: 100%;
}
main .contactsContent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
main .contactsContent .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 11px;
}
main .contactsContent .box .info{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
main .contactsContent .box .info .phone{
    width: 38px;
    height: 34px;
    background: url(../images/svg/phone.svg) center no-repeat;
}
main .contactsContent .box .info .post{
    width: 32px;
    height: 25px;
    background: url(../images/svg/post.svg) center no-repeat;
}
main .contactsContent .box h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 128%;
    letter-spacing: 0.005em;
    color: #4A4A49;
}
main .contactsContent .box p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.005em;
    color: #D9D9D9;
}

main .blockContent{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #212121;
    align-items: start;
}
main .blockContent h3{
    width: 20%;
    margin: 0px;
}
main .blockContent span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 460;
    font-size: 22px;
    line-height: 136%;
    color: #743d3d;
    width: 20%;
    padding: 0vh 2vw;
}
main .blockContent span p{
    width: 100%;
    font-weight: 460;
}
main .blockContent p{
    width: 50%;
}

main .stages{
    width: 100vw;
    background: #606060;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
main .stages h2{
    color: #FFFFFF;
}
main .stages .arrows{
    height: 42px;
    align-self: end;
    display: flex;
    gap: 16px;
}
main .stages .arrows .ring {
    background: transparent;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #C4C4C4;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    cursor: pointer;
}

main .stages .arrows .ring svg path {
    fill: #fff;
}

main .stages .arrows .ring.disabledRing {
    background: #C4C4C4;
}

main .stages .arrows .ring.disabledRing svg path {
    fill: #222;
}

main .stages #lenta2{
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-top: 65px;
    transition: all 2.8s;
    position: relative;
    overflow: hidden;
}
main .stages #lenta2 .item2{
    width: 526px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main .stages #lenta2 .item2 .cover{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4A4A49;

}
main .stages #lenta2 .item2 .cover h3{
    margin: 0px;
    padding: 0px 20px;
    color: #FFFFFF;
}

main .stages #lenta2 .item2 p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 136%;
    color: #FFFFFF;
}

main .teamContents{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}
main .teamContents .teamItem{
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 7px;
}
main .teamContents .teamItem h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 24px;
    color: #484848;
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
}
main .teamContents .teamItem h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #743d3d;
    text-align: center;
}
main .teamContents .teamItem p{
    width: 304px;
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}


main .latestProjects .projectItems .projectItem{
    gap: 14px;
}
main .latestProjects .projectItems .projectItem h3{
    margin: 5px 0px 0px 0px;
    padding: 0px 28px;
}
main .latestProjects .projectItems .projectItem p{
    padding: 0px 28px;
    font-size: 16px;
}
main .latestProjects .textContent{
    width: 80%;
}
main .latestProjects .textContent{
    height: auto;
    gap: 24px;
}
main .aboutStudio{
    height: auto;
}
main .headings{
    margin-top: 140px;
}
main .portfolioItemList{
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.galleryContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: 0.2s ease;
    user-select: none;
}

.galleryContainer .galleryBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0004;
    z-index: 21;
}

.galleryContainer .galleryImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 300px;
    background-color: coral;
    z-index: 22;
}

.galleryContainer .galleryImageContainer img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 0.2s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}


.galleryContainer .galleryButton {
    border-radius: 50%;
    background-color: white;
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 23;
    background: #606060;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center center;
}

.galleryContainer .galleryButtonClose {
    right: 16px;
    top: 16px;
    background-image: url(../images/svg/close.svg);
}

.galleryContainer .galleryButtonLeft {
    left: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../images/svg/arrowLeft.svg);
}
.galleryContainer .galleryButtonRight {
    right: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../images/svg/arrowRight.svg);
}

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateX(-45px);
    }
    100% {
        opacity: 1;
    }
}

.reveal {
    opacity: 0;
}

.reveal.active {
    animation: reveal 1s ease forwards;
}